<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- icon cdn  -->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
	<!-- css  -->
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="css/crowdafrik.css">
	<!-- bootstrap  -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Paid Status Page</title>
</head>
<body>
	<!-- nav  -->
	<div class="navigation-top">
		<div class="container-main">
			<div class="nav-main-top">
				<div class="back-btn-nav" onclick="window.location.href='home.html'">
					<i class="ri-arrow-left-s-line"></i>
				</div>
				<h5 class="page-name-nav mb-0">Lorem Ipsum</h5>
			</div>
		</div>
	</div>
	<!-- nav end  --> 
	<div class="container-main mt-4">
		<div class="row">
			<div class="col-lg-12">
				<div class="paid-status-dv paid-bg">
					<h5 class="paid-main-text mb-0 text-white">Lorem Ipsum</h5>
					<h6 class="month mb-0 text-white">january <span class="price">$1</span> </h6>
					<p class="maoney-status mb-0" onclick="window.location.href=''">Paid</p>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="paid-status-dv pay-now-bg">
					<h5 class="paid-main-text mb-0 text-white">Lorem Ipsum</h5>
					<h6 class="month mb-0 text-white">january <span class="price">$1</span> </h6>
					<p class="pay-now-btn mb-0" onclick="window.location.href=''">Pay now</p>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="paid-status-dv grey-bg">
					<h5 class="paid-main-text mb-0  text-white">Lorem Ipsum</h5>
					<h6 class="month mb-0 text-white">january <span class="price">$1</span> </h6>
					<p class="mb-0 btn-two-pay" onclick="window.location.href=''">Pay now</p>
				</div>
			</div>
		</div>
	</div>
	<!-- scripts  -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- swipper slider js end  -->
</body>
</body>
</html>